body {
    margin: 0; /* Remove default body margin */
    padding: 0; /* Remove default body padding */
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    height: 100vh; /* Make the body take up the full viewport height */
    background: #f0f0f0; /* Optional: Add a background for visualization */
}

.container {
    width: 3in;
    height: 2in;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black; /* Optional: to visualize the box */
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    position: relative;
}

/* Style the table to fit within the container */
table {
    width: 100%;
    height: 100%;
    border-collapse: collapse;
    border: 1px solid black;
}

/* Style the table cells */
td {
    padding-left: 4px;
    padding-right: 4px;
    font-size: 13px; /* Default font size for all cells */
    border: 1px solid black;
}

.title {
    width: 30px;
    text-align: center;
    font-weight: bold;
}

.name {
    font-size: 18px;
}